// Objects file
// layout
.wrapper{
    display: flex;
}

.aside{
    background-color: $shape-dark;
    padding: 20px;
    flex: 30%;
    height: 100vh;
}
.content{
    flex: 70%;
}
.container{
    max-width: 870px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 35px;
    padding-right: 35px;
}


// buttons

.btn{
    font-size: 14px;
    padding: 12px 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all ease 0.3s;
    background: $dark-blue;
    &-disabled{
        color: $CTA_disabled;
        background-color: $secondary-dark;
        cursor: not-allowed;
    }
    &-active{
        color: $white;
        background-color: $CTA_Active;
        &:hover{
            color: $text-light;
            background-color: $light-blue;
        }
    }
    &-success{
        color: $white;
        background-color: $SUCCESS;
    }
    &-danger{
        color: $white;
        background-color: $DANGER;
    }
}

