// Settings file
//For preprocessor's variables, such as custom fonts, colors, etc.
$primary-dark: #141B2C;
$primary-light: #425277;
$secondary-light: #CBDDF0;
$red: #CD5050;
$green:#82C94E;
$white: #FAFAFA;

$breakpoint-mobile: 736px;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
