// Settings file
//For preprocessor's variables, such as custom fonts, colors, etc.
$CTA_Active: #4788C7;
$CTA_disabled: #425277;
$shape-dark: #141B2C;
$text-light: #CBDDF0;
$secondary-dark: #27334F;
$DANGER: #CD5050;
$SUCCESS:#82C94E;
$white: #FAFAFA;

$breakpoint-mobile: 736px;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
