//  Keep specific classes that have some functionality
.fontcolor-white{
    color: $white;
}
.fontcolor-primarylight{
    color: $CTA_disabled;
}

// position
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
// svg filters
.filter-white{
    filter:  brightness(150%);
}