.progress--list, .done--list{
    list-style-type: none;
}
.task-remove{
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    margin-left: auto;
    margin-right: 31.67px;
    cursor: pointer;
}
.task{
    color: $text-light;
    background-color: $shape-dark;
    height: 60px;
    border-radius: 12px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    @include crossBrowser(transition, all .2s ease-in-out);
    & input{
        height: 20px;
        width: 20px;
        border: solid 1px $text-light;
        background: $shape-dark;
        margin-right: 8.67px;
        cursor: pointer;
    }
    &:hover{
        @include crossBrowser(transform, scale(1.03));
    }
    &:hover .task-remove{
        visibility: inherit;
        opacity: 1;
    }
}
@media screen and (max-width: $breakpoint-mobile) {
    .task-remove{
        display: none;
    }
}

.task--priority{
    height: 8.67px;
    width: 8.67px;
    border-radius: 50%;
    margin-right: 8.67px;
    background: $CTA_disabled;
    display: inline-block;
    &.high-priority{
        background: $DANGER;
    }
}


.task--done{
    color: $CTA_disabled;
    text-decoration: line-through;
}

//delete animation
.task.delete-animation{
    @include crossBrowser(transform, translateX(-100%));
    transition: all ease 0.3s;
    opacity: 0;
}


// checbox
// adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
/* The container */
.task--checkbox--label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 18px;
    cursor: pointer;
    font-size: 22px;
    @include crossBrowser(user-select, none);
  }
     //add checkmark on hover
  .task--checkbox--label:hover .task--checkbox--checkmark:after {
    display: block;
    opacity: 0.2;
    left: 6px;
    top: 1px;
  }

  /* Hide the browser's default checkbox */
  .task--checkbox--label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .task--checkbox--checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 4px;
  }
  
  /* On mouse-over, add a grey background color */
  .task--checkbox--label:hover input ~ .task--checkbox--checkmark {
    background-color: $secondary-dark;
  }
  
  /* When the checkbox is checked, add a green background */
  .task--checkbox--label input:checked ~ .task--checkbox--checkmark {
    background-color: $SUCCESS;
    border: none;
    opacity: 1;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .task--checkbox--checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .task--checkbox--label input:checked ~ .task--checkbox--checkmark:after {
    display: block;
    opacity: 1;
    left: 7px;
    top: 2px;
  }
  
  /* Style the checkmark/indicator */
  .task--checkbox--label .task--checkbox--checkmark:after {
    border-radius: 4px;
    left: 7px;
    top: 2px;
    width: 4px;
    height: 11px;
    border: solid $white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

