.progress--list, .done--list{
    list-style-type: none;
}
.task-remove{
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    margin-left: auto;
    margin-right: 31.67px;
}
.task{
    color: $text-light;
    background-color: $shape-dark;
    height: 60px;
    border-radius: 12px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    @include crossBrowser(transition, all .2s ease-in-out);
    & input{
        height: 20px;
        width: 20px;
        border: solid 1px $text-light;
        background: $shape-dark;
        margin-right: 8.67px;
        cursor: pointer;
    }
    &:hover{
        @include crossBrowser(transform, scale(1.03));
    }
    &:hover .task-remove{
        visibility: inherit;
        opacity: 1;
    }
}
@media screen and (max-width: $breakpoint-mobile) {
    .task-remove{
        display: none;
    }
}

.task--priority{
    height: 8.67px;
    width: 8.67px;
    border-radius: 50%;
    margin-right: 8.67px;
    background: $CTA_disabled;
    display: inline-block;
    &.high-priority{
        background: $DANGER;
    }
}
// task done
// @keyframes strike{
//     0%   { width : 0; }
//     100% { width: 100%; }
//   }

.task--done{
    color: $CTA_disabled;
    text-decoration: line-through;
}

//delete animation
.task.delete-animation{
transform: translateX(-100%);
transition: all ease 0.3s;
    opacity: 0;
}


// checbox
// .task input{
// }

// .task--checkbox[type='checkbox']:after{
//     line-height: 1.5em;
//     content: '';
//     display: inline-block;
//     width: 20px;
//     height: 20px;
//     border: 1px solid $text-light;
//     border-radius: 0.25em;
//     background: $shape-dark;
// }
// .task--checkbox[type='checkbox']:hover:after{
//   background: red;
// }

// .task--checkbox[type='checkbox']:checked:after {
// width: 15px;
//     height: 15px;
//     content: 'x';
//     // border: 3px solid #00ff00;
// }

