.aside--menu--counter{
    background-color: $white;
    border-radius: 10px;
    font-size: 12px;
    padding: 1.65px 7.5px;
    color: $shape-dark;
    right: 20px;
}

.content--counter{
    background-color: $text-light;
    border-radius: 100%;
    font-size: 12px;
    color: $shape-dark;
    padding: 1px 6px;
    margin-left: 5px;
}