.aside--logo{
    color: $white;
    font-size: 24px;
    margin-top: 20px;
    padding-left: 18px;
    font-weight: 700;
}
.content--logo{
    color: $text-light;
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
}