.aside--settings{
    position: fixed;
    bottom: 40px;
    margin-left: 20px;
    display: flex;
    color: $text-light;
}

.aside--settings--link{
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
    &:hover{
        color: $white;
        cursor: pointer;
    }
    &:hover img{
        @include crossBrowser(animation, spin 2s 0s 1 ease-in-out forwards);
    }
}
  @keyframes spin {
    0% {
         @include crossBrowser(transform, rotate(0deg));
    }
    100% {
         @include crossBrowser(transform, rotate(360deg));
    }
  }

