.aside--settings{
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    color: $text-light;
    &:hover img{
    }
}

.aside--settings--link{
    display: flex;
    cursor: pointer;
    &:hover{
        color: $white;
    }
    &:hover img{
        @include crossBrowser(animation, spin 2s 0s 1 ease-in-out forwards);
    }
}
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

