.aside{
    max-width: 330px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.aside--menu, .aside--logo{
    max-width: 250px;
    // margin-left: auto;
    // margin-right: auto;
}
.aside--menu--list{
    margin-top: 99px;
    list-style-type: none;
}
.aside--menu--link{
    display: flex;
    align-items: center;
    color: $text-light;
    margin-bottom: 10px;
    padding: 13px 80px 13px 20px;
    border-radius: 12px;
    cursor: pointer;
    &.active{
        background-color: $CTA_disabled;
        color: $white;
    }
}
.aside--menu--image{
    margin-right: 10px;
}

@media screen and (max-width: $breakpoint-mobile) {
    .aside{
        display: none;
    }
}
